.ui-console-wrap {
  font-size: 14px;
  position: fixed;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
  background: #242424;
}
.ui-console {
  font-size: 2em;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.ui-console-log {
  padding: 0.2em 0.5em;
}
.ui-console-log.log {
  color: #727579;
  background: #242424;
}
.ui-console-log.info {
  color: #727579;
  background: #242424;
}
.ui-console-log.warn {
  color: #eae244;
  background: #51481c;
}
.ui-console-log.error {
  color: #d65c59;
  background: #270201
}